<center>
<p><font color="red">欢迎{$Think.session.username}登录</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="__URL__/find/">您有{$num}条日志未读</a></p>
    <a href="__URL__/login_out/">退出</a>
<form action="__URL__/add/" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>今日完成工作</td>
            <td><input type="text" name="daywork"/></td>
        </tr>
        <tr>
            <td>未完成工作</td>
            <td><input type="text" name="message"/></td>
        </tr>
        <tr>
            <td>备注</td>
            <td>{$Think.session.username}</td>
        </tr>
        <tr>
            <td>图片</td>
            <td><input type="file" name="files"/></td>
        </tr>
        <tr>
            <td>接受人</td>
            <td>
                <volist name="User" id="val">
                    <input type="checkbox" name="friend[]" value="{$val.id}"/>{$val.username}
                </volist>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="提交"/></td>
            <td></td>
        </tr>
    </table>
</form>
    </center>