<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="in.php" method="post" enctype="multipart/form-data">
    <table border="1">
        <tr>
            <td>文件名</td>
            <td><input type="text" name="filename"/></td>
        </tr>
        <tr>
            <td>封面</td>
            <td><input type="file" name="files"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="上传"/></td>
        </tr>
    </table>
</form>
</body>
</html>