<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发送消息</title>
</head>
<body>
<form action="__URL__/message_add/" method="post">
    <table border="1">
        <tr>
            <td>选择联系人</td>
            <td>
                <select name="username">
                    <volist name="arr" id="val">
                        <option value="{$val.username}">{$val.username}</option>

                    </volist>
                </select>
            </td>
        </tr>
        <tr>
            <td>发送的内容</td>
            <td><textarea rows="5" cols="10" name="content"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="发送"/></td>
            <td></td>
        </tr>
    </table>
    <a href="__URL__/show/">返回</a>
</form>

</body>
</html>